body {
    margin-top:87px;
}

.img-shadow {
    border-radius: 5px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
}

div.navbar-header {
    float:left;
}

ul.site-nav-right {
    float: right !important;
    margin-right: -15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0;
    list-style: none;
}

ul.site-nav-right li {
    float: left;
    position: relative;
    display: block;
}

ul.site-nav-right li a {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
    padding-right: 15px;
    padding-left:15px;
    
    line-height: 23px;
    position: relative;
    display: block;
    color: #666666;
    text-decoration:none;
}

/* Styles to make the sticky footer 
    http://getbootstrap.com/examples/sticky-footer/ , 
    http://getbootstrap.com/examples/sticky-footer/sticky-footer.css*/
html {
  position: relative;
  min-height: 100%;
}

body {    
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

p.main-point {
    font-size: larger;
}

p.series-explainer {
    color: rgba(135,135,135,1);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-zone {
  margin: 20px 15px 0px 15px;
}
/*End sticky footer styles*/